<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Kats Productions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	<style>
		ul {
			list-style: armenian;
			list-style-type: disc;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark d-flex bg-dark">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
			@Html.ActionLink("Web Applicatie", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav mr-auto" >
					<li class="nav-link">@Html.ActionLink("Home", "Index", "Home")</li>
					<li class="nav-link">@Html.ActionLink("About", "About", "Home")</li>
					<li class="nav-link">@Html.ActionLink("Contact", "Contact", "Home")</li>
				</ul>
				<ul class="nav navbar-nav border-left ml-auto ">
					<li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
					<li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
				</ul>

			</div>
		</div>
	</nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
